/* buttons */

.btn-grey{
    background-color: $gray-600;
    color: $white;    
}

.btn-rounded{
    border-radius: 50px;
}

/* Avatar*/
.a-avatar{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 100px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        font-size: 30px;
    }

    &.mod1{
        color: #f24726;
        background-color: #fcdad4;
    }
    &.mod2{
        color: #fef445;
        background-color: #fffdda;
    }
    &.mod3{
        color: #8fd14f;
        background-color: #e9f6dc;
    }
    &.mod4{
        color: #9510ac;
        background-color: #eacfee;
    }
    &.mod5{
        color: #2d9bf0;
        background-color: #d5ebfc;
    }
    &.mod6{
        color: #0ca789;
        background-color: #ceede7;
    }
    &.mod7{
        color: #fac710;
        background-color: #fef4cf;
    }
    &.mod8{
        color: #808080;
        background-color: #e6e6e6;
    }

    &.active{
        border-color: #ced4da;
    }
}

