.m-user-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: $gray-100;
    
    &__image{
        width: 70px;
        text-align: center;

        .a-avatar{
            margin: 0px;
        }
        .image{
            display: inline-flex;
            border: 3px dashed $gray-700;
            border-radius: 50%;
        }

        .small{
            font-size: 10px;
            line-height: 11px;
            margin: 3px 0px 0px;
        }
    }

    &__content{
        width: calc(100% - 90px);
    }

    &__name{
        font-size: 18px;
        margin: 0px;
    }

    &__room{
        font-size: 16px;
        margin: 0px;
    }
}

.m-room-drop-item{
    text-align: center;
    padding: 10px 3px;

    &.room1{
        background-color: $red;
    }

    &.room2{
        background-color: $blue;
    }

    &.room3{
        background-color: $green;
    }

    &.room4{
        background-color: $orange;
    }


    &__header{
        position: relative;
        padding: 0px 20px;
        margin: 5px 0px;

        h3{
            color: $white;
            margin: 0px;
            font-size: 18px;
        }
    }

    &__total{
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: white;
        height: 20px;
        padding: 0px 5px;
        font-size: 16px;
        line-height: 20px;

    }

    &__image{
        .image{
            margin: 3px auto;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: $white;
            border: 1px solid $gray-700;
        }
    }
}