<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>
<body>
  <header-component></header-component>
  <main class="min-vh-100 d-flex justify-content-center">
    <div class="m-auto" style="max-width: 18rem;">
      <div class="card bg-gray-100">
        <form id="loginForm">
          <div class="card-body">
              <div class="form-group my-2">
                <input id="loginEmail" type="email" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <div id="loginEmail_error" class="invalid-feedback"></div>
              </div>
              <div class="form-group  my-2">
                <input id="loginPassword" type="password" class="form-control text-center" id="exampleInputPassword1" placeholder="Password">
                <div id="loginPassword_error" class="invalid-feedback"></div>
              </div>
          </div>
          <div class="card-footer text-center py-4">
            <div class="row">
              <div class="col-12">
                <div id="errorMessage" class="alert alert-danger mb-4 d-none" role="alert"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button id="loginSubmitBtn" type="submit" class="btn btn-primary btn-rounded px-4 w-100">Inicia sesión</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="text-center fs-small my-2">
        Don't you have an account? <a href="/register">CREATE ONE</a>
      </div>
    </div>
  </main>
  <script src="../bundle.js" type="text/javascript"></script>
  <script>
    const assignElements = {
      formId: 'loginForm',
      emailId: 'loginEmail',
      passwordId: 'loginPassword',
      submitBtn: 'loginSubmitBtn'
    }
    const login = new Conquer.Login(assignElements);
    login.init();
  </script>
</body>
</html>