<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>
<body>
  <header-component></header-component>
  <main class="min-vh-100 d-flex justify-content-center">
    <div class="card m-auto bg-gray-100" style="width: 36rem;">
      <div class="card-body">
        <form id="registerForm">
          <div class="row">
            <div class="col-sm">
              <div class="form-group my-2">
                <input id="registerEmail" type="email" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <div id="registerEmail_error" class="invalid-feedback"></div>
              </div>
              <div class="form-group  my-2">
                <input id="registerPassword" type="password" class="form-control text-center" id="exampleInputPassword1" placeholder="Password">
                <div id="registerPassword_error" class="invalid-feedback"></div>
              </div>
              <div class="form-group  my-2">
                <select id="registerFavouriteRoom" class="form-select" aria-label="Default select example">
                  <option value="0" selected>Favorite Room</option>
                  <option value="red-room-box">Sala Roja</option>
                  <option value="blue-room-box">Sala Azul</option>
                  <option value="green-room-box">Sala Verde</option>
                  <option value="orange-room-box">Sala Naranja</option>
                </select>
                <div id="registerFavouriteRoom_error" class="invalid-feedback"></div>
              </div>
            </div>
            <div class="col-sm">
                <label>Choose Avatar</label>
                <div id="registerAvatar" class="d-flex flex-wrap justify-content-space-between">
                  <div id="avatar1" data-mod="1" class="a-avatar mod1 active"><i class="fas fa-user"></i></div>
                  <div id="avatar2" data-mod="2" class="a-avatar mod2"><i class="fas fa-user"></i></div>
                  <div id="avatar3" data-mod="3" class="a-avatar mod3"><i class="fas fa-user"></i></div>
                  <div id="avatar4" data-mod="4" class="a-avatar mod4"><i class="fas fa-user"></i></div>
                  <div id="avatar5" data-mod="5" class="a-avatar mod5"><i class="fas fa-user"></i></div>
                  <div id="avatar6" data-mod="6" class="a-avatar mod6"><i class="fas fa-user"></i></div>
                  <div id="avatar7" data-mod="7" class="a-avatar mod7"><i class="fas fa-user"></i></div>
                  <div id="avatar8" data-mod="8" class="a-avatar mod8"><i class="fas fa-user"></i></div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div id="successMessage" class="alert alert-success mt-3 d-none" role="alert"></div>
              <div id="errorMessage" class="alert alert-danger mt-3 d-none" role="alert"></div>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <button id="submitButton" type="submit" class="btn btn-grey btn-rounded btn-lg px-4 mt-4 mb-2">¡Regístrate!</button>
            </div>
          </div>
        </form>
      </div>
      <div id="successButton" class="card-footer text-center py-4 d-none">
        <a href="./login" class="btn btn-primary btn-rounded btn-lg px-4">Inicia sesión en la aplicación</a>
      </div>
    </div>
  </main>
  <script src="../bundle.js" type="text/javascript"></script>
  <script>
    const assignElements = {
      formId: 'registerForm',
      emailId: 'registerEmail',
      passwordId: 'registerPassword',
      favouriteRoomId: 'registerFavouriteRoom',
      avatarWrapperId: 'registerAvatar',
      submitBtn: 'registerSubmitBtn'
    }
    const register = new Conquer.Register(assignElements);
    register.init();
  </script>
</body>
</html>